@import url("https://cdn.simplecss.org/simple.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Set sans-serif & mono fonts */
  --sans-font: -apple-system, BlinkMacSystemFont, Montserrat, "Avenir Next",
    Avenir, "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --standard-border-radius: 5px;

  /* Default (light) theme */
  --bg: #fff;
  --accent-bg: #f5f7ff;
  --text: #212121;
  --text-light: #585858;
  --border: #898ea4;
  --accent: #0d47a1;
  --accent-hover: #1266e2;
  --accent-text: var(--bg);
  --code: #d81b60;
  --preformatted: #444;
  --marked: #ffdd33;
  --disabled: #efefef;
  --icon: url("/vbc_torch_circle_only_color.svg");
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --bg: #212121;
    --accent-bg: #2b2b2b;
    --text: #dcdcdc;
    --text-light: #ababab;
    --accent: #ffb300;
    --accent-hover: #ffe099;
    --accent-text: var(--bg);
    --code: #f06292;
    --preformatted: #ccc;
    --disabled: #111;
    --icon: url("/vbc_torch_circle_only.svg");
  }
  /* Add a bit of transparency so light media isn't so glaring in dark mode */
  img,
  video {
    opacity: 0.8;
  }
}
[x-cloak] {
  display: none !important;
}
body {
  grid-template-columns: 1fr min(1280px, 90%) 1fr;
  header {
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0;
    padding-inline: 1.5rem;
    padding-block: 0.8rem;

    .hamburger {
      width: 30px;
      height: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
    }

    @media (min-width: 600px) {
      .hamburger {
        display: none;
      }
    }

    .bar {
      width: 100%;
      height: 4px;
      background: black;
      transition: 0.3s;
    }

    /* Mobile menu styles */
    .menu {
      background: var(--accent-bg);
      position: absolute;
      top: 75px;
      left: 0;
      width: 100%;
      text-align: center;
      padding: 10px 0;
    }

    .menu ul {
      flex-direction: column;
    }

    .menu a {
      color: var(--text);
      padding: 10px;
      text-decoration: none;
      display: block;
    }

    /* Animated Hamburger */
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }

    div {
      display: flex;
      align-items: center;
      a {
        height: 50px;
        img {
          height: 50px;
          content: var(--icon);
        }
      }
      p {
        font-size: 1.6rem;
        padding-left: 1rem;
      }
    }
    .wide-nav {
      padding-top: unset;
      ul {
        li {
          padding-inline: 0.5rem;
          padding-inline-end: 0;
          a {
            margin: 0;
            width: 120px;
          }
        }
      }
    }
    @media (max-width: 600px) {
      div {
        p {
          display: none;
        }
      }
      .wide-nav {
        display: none;
      }
    }
  }

  .w-normal {
    width: min(1280px, 90%);
    margin: 0 auto;
  }

  .banner {
    grid-column: 1/-1;
    background-color: green;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 400px;
    justify-content: center;
  }

  .hero {
    grid-column: 1/-1;
    background:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/hero_screen.webp") no-repeat center center/cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 100px 20px;
    height: 800px;
    h1 {
      font-size: 3em;
      margin: 0 0 20px;
    }
    p {
      font-size: 1.2em;
      margin: 0 0 20px;
    }
  }

  .service-times-home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @media (max-width: 600px) {
      grid-template-columns: 1fr;
      gap: 0.5rem;
    }

    & {
      gap: 1rem;
    }
    article {
      background-color: var(--accent-bg);
      border: unset;
      color: var(--text);
    }
  }

  footer {
    padding-inline: 0;
    .border-text {
      padding-inline: 0.5rem;
      margin-top: 0;
      position: relative;
      top: -2.8rem;
      background-color: var(--bg);
      font-weight: 900;
      font-size: 1rem;
      @media (max-width: 600px) {
        font-weight: 700;
        font-size: 0.8rem;
        top: -1rem;
      }
    }

    .footer-container {
      display: grid;
      padding-inline: 1rem;

      grid-template-columns: 120px 1fr;

      @media (max-width: 600px) {
        grid-template-columns: 1fr;
      }

      div {
        aside {
          height: 100%;

          @media (max-width: 600px) {
            height: unset;
            padding-bottom: 1rem;
          }
          & {
            padding-top: 1rem;
          }
          p {
            margin: 0.5rem;
          }
          ul {
            margin: 0;
          }
        }
      }
    }

    .footer-inner-container {
      display: grid;
      grid-template-columns: auto auto;
      @media (max-width: 600px) {
        grid-template-columns: 1fr;
        border: unset;
      }
      div {
        h5 {
          @media (min-width: 600px) {
            margin-top: unset;
          }
        }
      }
    }

    .footer-icon {
      content: var(--icon);
      height: 100%;
      width: auto;
      @media (max-width: 600px) {
        display: none;
      }
    }
  }
}

.navbar-links {
  padding-right: 8px;
}

.service-times-footer {
  li {
    list-style-type: none;
    text-align: left;
    padding-bottom: 0.1rem;
  }
}
